body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    
    
    background-image: url('Job.jpg'); 
    background-size: cover;              
    background-position: center;         
    background-attachment: fixed;        
    background-repeat: no-repeat;        

    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 100px;
}


.container {
    background-color: rgba(252, 251, 251, 0.083); 
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}



h1 {
    color: #0b0b0b;
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}


.box-ricerca {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 600;
    color: #120101;
    margin-bottom: -10px; 
    font-size: 14px;
}


input {
    padding: 12px 15px;
    border: 2px solid #4f12e9;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s; 
}

input:focus {
    outline: none;
    border-color: #3254eb; 
}


button {
    padding: 15px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: rgb(9, 8, 8);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 10px;
}

button:hover {
    transform: translateY(-2px); 
    box-shadow: 0 5px 15px rgba(0, 114, 255, 0.4);
}


#risultatoContatore {
    text-align: center;
    color: #764ba2;
    background-color: #f3f0ff;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
}


ul {
    padding: 0;
}

li {
    background-color: #f6f3f3;
    margin-bottom: 12px;
    padding: 15px;
    border-radius: 12px;
    list-style: none;
    border-left: 6px solid #667eea; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f9f9ff;

}

.top-bar {
    width: 100%;
    height: 60px;
    background-color: rgba(250, 248, 248, 0.95); 
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(29, 28, 28, 0.1);
    z-index: 1000; 
}

.logo {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    background: linear-gradient(to right, #8096f7, #734d9a);
    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


body {
    padding-top: 250px; 
}